<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon.png"/>
    <link rel="stylesheet" href="index.css" />
    <title>Bind Requirements</title>
</head>
<body>
    <div class="main">
        <div class="blue-stripe">
            <p>WHY GMI?</p>
            <p>Family Owned and Operated Since 1980</p>
            <p>In-House Claims Handling</p>
            <p>Endorsements Processed within 24-48 Hours</p>
            <p>Dedicated Account Rep</p>
        </div>
        <div class="main-info">
            <div class="header">
                <img src="./logo.png" alt="logo" />
            </div>
            <p class="title">Business Auto Bind Requirements</p>
            <p class="warning">Documentation is due within five (5) days of binding or a cancellation warning will be sent. Your policy will not be released until all items have been received.</p>
            <div class="req-list">
                <ul>
                    <li>Signed and dated ACORDS 125, 127 & 137</li>
                    <li>Signed GMI Supplemental Application (not required for renewals)</li>
                    <li>Insured's FEIN</li>
                    <li>Complete description of operation</li>
                    <li>Complete drivers list</li>
                    <li>Signed Driver Acknowledgement Letter</li>
                    <li>Signed Finance Agreement (if applicable)</li>
                    <li>Signed, dated, and initialed UM Forms</li>
                    <li>Vehicle Registration Copies (for NY accounts only)</li>
                </ul>
            </div>
            <p class="extra-info">
                Please do not complete forms with coverages not quoted. If you require additional or different coverages, please contact your Underwriter.
            </p>
            <p class="inst">
                All bind requests should be sent directly to your Underwriter and Business Development Representative.
            </p>
            <p>P.O. Box 701  •  Valley Forge PA 19482  •  Tel (610) 933-4679  Fax (610) 933-4993  •  www.GMI-Insurance.com</p>
            
        </div>
    </div>
</body>
</html>


