* {
  color: var(--textColor);
  font-size: 20px;
  background-color: var(--backColor);
  font-family: "Titillium Web", sans-serif;
}

body{    
  margin: 0px;
  padding: 0px;
}

:root {
  --backColor: #f3ebd6d2;
  --textColor: #122620;
  --staticColor: #222222;
  --focusColor: #4e4e4e;
  --errorColor: #e8474c;
}

.main-questions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

form {
  padding: 10px;
}

.top-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title {
    display: inline-block;
    text-shadow: 0.8px 0.8px .5px #122630;
}

img {
  width: 100%;
  max-width: 90px;
  height: auto;
  max-height: 104px;
  margin-right: 25px;
}

.flex {
  display: flex;
  gap: 25px;
  flex-direction: row;
}

.sub-question {
  margin-bottom: 5px;
  display: inline-block;
}

.yes-no-question {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.flex > div > input {
  display: inline-block;
  margin-bottom: 4px;
  height: 20px;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
  /* Windows High Contrast Mode */
  /* background-color: CanvasText; */
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid black;
  outline-offset: max(2px, 0.15em);
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #757575;
  color: var(--focusColor);
}

input[type="text"]:focus {
  outline: none;
}

input.inputMaterial {
  height: 24px;
  width:312px; 
}

.button {
  margin: 10px;
	background: var(--textColor);
	font-weight: 700;
	padding: 0;
	border-radius: 5px;
}

.button span {
	display: block;
	background: #e1d7bd;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button:hover span {
	transform: translate3d(-8px, -8px, 0);
    cursor: pointer;
}

.mob-label {
  display: none;
}

/* BOTTOM BARS ================================= */
.bar 	{ 
  position:relative; 
  display:block; 
  width:315px; 
}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: var(--textColor); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}

.mob-hide>label.sub-question {
  display: block;
}

@media only screen and (max-width: 992px) {
    input[type="text"] {
        display: block;
    }

    * {
        font-size: 17px;
    }

    .flex {
        gap: 0;
    }
    
    .group 			  { 
      position:relative; 
      }
      
      .inputMaterial 				{
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        width:300px;
        border:none;
        border-bottom:1px solid #757575;
      }
      
      .inputMaterial:focus 		{ outline:none;}
      
      /* LABEL ======================================= */
    
      .mob-hide>.sub-question:not(.mob-hide>.sub-question:first-of-type) {
        display: none;
      }

      /* .mob-hide>.sub-question:first-of-type {
        
      } */

      .flex:last-of-type {
        flex-direction: column;
      }
      /*!!*/
      .bar {
        top: -20px;
      }

      label.mob-label {
        display: unset;
        color:#999; 
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:5px;
        top:15px;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }

      .inputMaterial:focus ~ label, .inputMaterial:valid ~ label{
        opacity: 0; 
      }

      
      
      /* active state */
      .inputMaterial:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
      }
      
      /* ANIMATIONS ================ */
      @-webkit-keyframes inputHighlighter {
          from { background:#5264AE; }
        to 	{ width:0; background:transparent;}
      }
      @-moz-keyframes inputHighlighter {
          from { background:#5264AE; }
        to 	{ width:0; background:transparent;}
      }
      @keyframes inputHighlighter {
          from { background:#5264AE; }
        to 	{ width:0; background:transparent;}
      }
      
}


